@font-face {
  src: url(fonts/Cocogoose.ttf);
  font-family: "coco";
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #272A31;
  --dark-light: #3e3e3e;
  --dark-site: #272a31;
  --orange: #EC5242;
  --light-gray: #D3D3D3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--dark);
}

.h-3 {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 2rem 0;
}

.white-text {
  color: white;
}

.gray-text {
  color: var(--dark-light);
}

.gray-bg {
  background-color: var(--dark-light);
}

.navbar {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.navbar_social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_social_container {
  width: 120rem;
  display: flex;
  justify-content: flex-end;
}
.navbar_social_container > * {
  margin-right: 1rem;
}
.navbar_social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_social_svg {
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
}
.navbar_social--link {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
}
.navbar_nav {
  display: flex;
  height: 7rem;
  justify-content: center;
}
.navbar_nav_container {
  flex: 0 1 120rem;
  display: flex;
  justify-content: space-between;
}
.navbar_nav_logo {
  margin-left: 1rem;
  flex: 0 1 10%;
}
.navbar_nav_logo_a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: coco;
  line-height: 1.4;
}
.navbar_nav_svg {
  width: 5rem;
  height: 5rem;
  fill: var(--orange);
}
.navbar_nav_ul {
  flex: 0 1 50%;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}
.navbar_nav_li {
  list-style: none;
  margin-right: 1rem;
}
.navbar_nav_a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark);
}

.header {
  min-height: 70rem;
  width: 100%;
  position: relative;
}
.header_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header_bg_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
  z-index: -1;
}
.header_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #ec5342cc;
}
.header_top {
  flex: 0 1 120rem;
}
.header_smallheading {
  font-size: 4.3rem;
  font-weight: 300;
  color: var(--orange);
}
.header_bigheading {
  padding: 2rem;
  font-size: 4.5rem;
  display: inline-block;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.932);
  color: black;
  mix-blend-mode: screen;
  font-family: coco;
  text-transform: uppercase;
  font-weight: 900;
}

.program {
  width: 100%;
  height: auto;
  background-color: var(--dark-site);
  display: flex;
  justify-content: center;
}
.program_container {
  flex: 0 1 120rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.program_heading {
  color: white;
  text-transform: capitalize;
  font-size: 2rem;
}
.program_box_container {
  display: flex;
  flex-flow: row wrap;
}
.program_box {
  flex: 1 1 25rem;
  background-color: #ffffff11;
  box-shadow: 0 4rem 4rem #00000022;
  margin: 1rem;
}
.program_svg {
  width: 10rem;
  fill: white;
}
.program_heading {
  color: var(--orange);
}
.program_text {
  color: white;
  padding: 1rem;
}

.featured-dances {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.featured-dances_grid {
  flex: 0 1 120rem;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.partners {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners_container {
  flex: 1 1 120rem;
}

/*# sourceMappingURL=styles.css.map */
