@font-face {
  src: url(fonts/Cocogoose.ttf);
  font-family: "coco";
}
* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #272A31;
  --dark-light: #3e3e3e;
  --dark-site: #272a31;
  --orange: #EC5242;
  --light-gray: #D3D3D3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--dark);
}

.coco {
  font-family: coco;
}

.nodeco {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.my-0 {
  margin: 0;
}

.my-1 {
  margin: 1rem 0;
}

.italic {
  font-style: italic;
}

.h-3 {
  align-self: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 2rem 0;
}

.white-text {
  color: white;
}

.gray-text {
  color: var(--dark-light);
}

.orange-text {
  color: var(--orange);
}

.gray-bg {
  background-color: var(--dark-light);
}

.border {
  position: relative;
}

.border::after {
  content: "";
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -0.5rem;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--orange);
}

.brd_left {
  position: relative;
  display: inline-block;
}

.brd_left::after {
  content: "";
  width: 4rem;
  position: absolute;
  left: 2rem;
  transform: translate(-50%, -50%);
  bottom: -0.5rem;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: var(--orange);
}

.navbar {
  position: fixed;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-flow: column;
  box-shadow: 0 0.5rem 0.5rem #00000022;
  z-index: 100;
}
.navbar_social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_social_container {
  width: 120rem;
  display: flex;
  justify-content: flex-end;
}
.navbar_social_container > * {
  margin-right: 1rem;
}
.navbar_social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_social_svg {
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
}
.navbar_social--link {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
}
.navbar_nav {
  display: flex;
  height: 7rem;
  justify-content: center;
}
.navbar_nav_container {
  flex: 0 1 120rem;
  display: flex;
  justify-content: space-between;
}
.navbar_nav_logo {
  margin-left: 1rem;
  flex: 0 1 auto;
}
.navbar_nav_logo_a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: coco;
  line-height: 1.4;
}
.navbar_nav_svg {
  width: 5rem;
  height: 5rem;
  fill: var(--orange);
}
.navbar_nav_ul {
  flex: 0 1 50%;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}
.navbar_nav_li {
  list-style: none;
  margin-right: 1rem;
}
.navbar_nav_a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark);
}

.navigation {
  display: none;
}
.navigation-checkbox {
  display: none;
}
.navigation-handle {
  position: fixed;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: 4rem;
  left: 4rem;
  background-color: white;
  z-index: 250;
  box-shadow: 0 1rem 1rem #00000011;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navigation-icon {
  position: relative;
}
.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  width: 2rem;
  height: 2px;
  background-color: grey;
  display: inline-block;
  position: absolute;
  transition: all 0.2s;
}
.navigation-icon::before, .navigation-icon::after {
  content: "";
  left: 0;
}
.navigation-icon::before {
  top: -0.8rem;
}
.navigation-icon::after {
  top: 0.8rem;
}
.navigation-handle:hover .navigation-icon::before {
  top: -1rem;
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.navigation-handle:hover .navigation-icon::after {
  top: 1rem;
  transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.navigation-background {
  position: fixed;
  width: 2rem;
  height: 2rem;
  top: 4.5rem;
  left: 4.5rem;
  background: var(--orange);
  border-radius: 50%;
  z-index: 100;
  transition: transform 0.8s cubic-bezier(0.09, 1.15, 0.97, 0.98);
}
.navigation-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 200;
  width: 0;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navigation-list {
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation-item {
  margin: 1rem;
}
.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin-top: 1rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 235%;
  transition: background-position 0.4s ease;
}
.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
}
.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(100);
}
.navigation-checkbox:checked ~ .navigation-nav {
  width: 100%;
  opacity: 1;
}
.navigation-checkbox:checked + .navigation-handle .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-handle .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-handle .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.header {
  top: 10rem;
  min-height: 70rem;
  width: 100%;
  position: relative;
}
.header_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header_bg_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}
.header_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.header_top {
  flex: 0 1 120rem;
  z-index: 10;
}
.header_smallheading {
  font-size: 4.3rem;
  font-weight: 300;
  color: var(--orange);
}
.header_bigheading {
  padding: 2rem;
  font-size: 4.5rem;
  display: inline-block;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.932);
  color: black;
  mix-blend-mode: screen;
  font-family: coco;
  text-transform: uppercase;
  font-weight: 900;
}

.program {
  width: 100%;
  height: auto;
  background-color: var(--dark-site);
  display: flex;
  justify-content: center;
}
.program_container {
  flex: 0 1 120rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.program_heading {
  color: white;
  text-transform: capitalize;
  font-size: 2rem;
}
.program_box_container {
  display: flex;
  flex-flow: row wrap;
}
.program_box {
  flex: 1 1 25rem;
  background-color: #ffffff11;
  box-shadow: 0 4rem 4rem #00000022;
  margin: 1rem;
  transition: all 0.3s;
}
.program_box:hover {
  transform: scale(1.1);
  border: 2px solid #ffffffd8;
}
.program_box_link {
  align-self: center;
  flex: 0 0 auto;
  text-decoration: none;
  margin: 2rem 0;
  text-transform: uppercase;
  position: relative;
}
.program_box_link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  border-width: 0 0 1px;
  border-style: solid;
}
.program_svg {
  width: 10rem;
  fill: white;
}
.program_heading {
  color: var(--orange);
}
.program_text {
  color: white;
  padding: 1rem;
}

.featured-dances {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-dances_grid {
  max-width: 120rem;
  align-self: center;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.featured-dances_dance {
  flex: 0 1 50%;
  padding: 1rem;
  display: flex;
}
.featured-dances_imgcont {
  flex: 0 0 40%;
}
.featured-dances_img {
  width: 100%;
  object-fit: cover;
}
.featured-dances_about {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.partners {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners_container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.partners_box {
  margin: 1rem 0;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer_container {
  flex: 1 1 120rem;
  display: flex;
  flex-wrap: wrap;
}
.footer_left {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_left_link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}
.footer_left_copycontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_right {
  flex: 0 1 50%;
  display: flex;
}
.footer_logo {
  fill: var(--dark-light);
  width: 10rem;
}
.footer_right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_right_link {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
