.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &_container {
        flex: 1 1 120rem;
        display: flex;
        flex-wrap: wrap;
    }

    &_left {
        flex: 0 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &_link {
            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            font-size: 2rem;

        }

        &_copycontainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &_right {
        flex: 0 1 50%;
        display: flex;

    }

    &_logo {
        width: 10rem;
    }

    &_right {
        display: flex;
        align-items: center;
        justify-content: center;

        &_link {
            display: flex;
            align-items: center;
        }
    }
}