.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &_container{
        flex:1 1 120rem;
        display: flex;
    }

    &_left{
        flex:0 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
       &_link{
           display: flex;
           justify-content: center;
           align-items: center;
           
           text-decoration: none;
           font-size: 2rem;
       
       }
       &_copycontainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       }
    }

    &_right{
        flex:0 1 50%;
        display: flex;
       
    }

    &_logo{
        fill: var( --dark-light);
        width: 10rem;
    }
}
