.footer {
    width: 100%;
    height: auto;
    display: flex;
  justify-content: center;
    &_container{
        flex:1 1 120rem;
        display: flex;
    }

    &_left{
        flex:0 1 50%;
       
    }

    &_right{
        flex:0 1 50%;
       
    }
}
