.program {
    width: 100%;
    height: auto;
    background-color: var(--dark-site);
    display: flex;
    justify-content: center;

    &_container {
        flex: 0 1 120rem;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &_heading {
        color: white;
        text-transform: capitalize;
        font-size: 2rem;
    }

    &_box_container {
        display: flex;
        flex-flow:row wrap;
    }

    &_box {
        flex: 1 1 25rem;
        background-color: #ffffff11;
        box-shadow: 0 4rem 4rem #00000022;
        margin: 1rem;


      &_link{
          align-self: center;
          flex: 0 0 auto;
          text-decoration: none;
          margin: 2rem 0;
          text-transform: uppercase;
          position: relative;
        &::after{
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -.5rem;
            border-width: 0 0 1px;
            border-style: solid;
        }
      }
    }
    &_svg{
        width: 10rem;
        fill: white;
    }
    &_heading{
        color: var(--orange);
    }
    &_text{
        color: white;
        padding: 1rem;
       
    }
}