.tickets {
    width: 100%;
   min-height: 120vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:48em) {
        min-height: 100vh;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/concert_hall.jpg);
        background-position: 50%;
        background-size: cover;
        filter: grayscale(1);
        z-index: -1;
    }

    &_form {
        flex: 0 1 60rem;
        background: #ffffffe5;
        background: linear-gradient(125deg,
        #ffffffaa 0,
        #ffffffaa 10%,
        #ffffffdd 10%,
        #ffffffdd 90%,
        #ffffffaa 90%,
        #ffffffaa 100%);
        border: 1rem solid #ffffff;
        display: flex;
        flex-direction: column;
    }

    &_inputs {
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    &_inpfield {
        padding: 1rem;
        border-radius: .5rem;
        border: none;
    }

    &_radios {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 2rem;
    }

    &_rows {
        display: flex;
        align-items: center;
    }

    &_button {
        align-self: center;
        backface-visibility: hidden;
        width: 50%;
        padding: 1rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--orange);
        color: white;
        transition: all .3s;

        &:hover {
            background-color: var(--orange);
            transform: scale(1.1);
        }
    }
}