.tickets {
    margin-top: 10rem;
    width: 100%;
    background-color: #ffffffcc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:48em) {
        margin-top: 0;
        min-height: 100vh;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/concert_hall.jpg);
        background-position: 50%;
        background-size: cover;
        filter: grayscale(1);
        z-index: -1;
    }


    // ////////////////////the table with the price//////////////

    &_table {
        z-index: 4;

        min-width: 50rem;
        background-color: white;




        &,
        th,
        td {
            border: 1px solid black;
        }
    }

    &_table-cont {
        border: 10px solid #fff;
        border-image-source: url(../img/bigpattern.png);
        border-image-slice: 40;
        border-image-repeat: repeat;
        border-image-width: 1rem;
        margin-bottom: 5rem;
        position: relative;
        z-index: 50;

        &::after {
            position: absolute;
            content: "";
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            width: 40rem;
            height: 4rem;
            background-color: gray;
            border-radius: 50%;
            box-shadow: 0 4rem 5rem #000;
            z-index: -1;
        }
    }

    ////// Step & guidlines


    &_step {
        width: 100%;
        height: 20rem;
        background-color: white;
        margin: 1rem 0;
        display: flex;
        justify-content: center;

        &_instr {
            flex: 0 1 60rem;
            align-self: center;
            border: 2px solid ();
        }
    }






    &_form {
        flex: 0 1 auto;
        background: #ffffffe5;
        background: linear-gradient(125deg,
                #ffffffaa 0,
                #ffffffaa 10%,
                #ffffffdd 10%,
                #ffffffdd 90%,
                #ffffff8a 90%,
                #ffffff8a 100%);
        border: 1rem solid #ffffff;
        display: flex;
        flex-direction: column;

        margin-bottom: 3rem;

        &::after {
            position: absolute;
            content: "";
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            width: 40rem;
            height: 4rem;
            background-color: gray;
            border-radius: 50%;
            box-shadow: 0 4rem 5rem #000;
            z-index: -1;
        }
    }

    &_inputs {
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    &_inpfield {
        padding: 1rem;
        border-radius: .5rem;
        border: none;
    }

    &_radios {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 2rem;
    }

    &_rows {
        display: flex;
        align-items: center;
    }

    &_button {
        align-self: center;
        backface-visibility: hidden;
        width: 50%;
        padding: 1rem;
        border: none;
        border-radius: .5rem;
        background-color: var(--orange);
        color: white;
        transition: all .3s;

        &:hover {
            background-color: var(--orange);
            transform: scale(1.1);
        }
    }


}